@import url('https://fonts.googleapis.com/css?family=Overpass');

* {
  font: normal 16px/1.5 "Overpass", sans-serif;
}

body {
  background-color: #191414;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1DB954;
  padding: 20px;
}

#intro {
  margin-top: 2%;
  margin-bottom: 2%;
  background: #232323;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 40px #000000;
}

#intro h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
}

#intro h1 span {
  display: block;
  font-size: 28px;

}


h1 {
  margin: 0;
  font-size: 24px;
}

main {
  padding: 20px;
}

h2 {
  color: #FFFFFF;
}

footer {
  background-color: #1DB954;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.pButton{
  background-color: #00000073;
  color: #ffffff;
  border: none;
  padding: 10px 70px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.pButton:hover{
  background-color: #05050559;
}

.pButton:hover{
  background-color: #05050559;
}

#iframeContainer , #iframeContainer2 , #iframeContainer3 , #iframeContainer4 {
  margin-top: 50px;
  width: 100%;
  height: 352px;
  border-radius: 12px;
  overflow: hidden;
}

ul{
  margin-top: 25px;
  display: none;
  list-style: none; 
  justify-content: left;
  list-style-type: none;
  padding: 0;
}


.spotify-button {
  background-color: #1DB954;
  color: #ffffff;
  border: none;
  padding: 10px 60px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 24px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
}

.spotify-button:hover {
  background-color: #1ED760;
}

.spotify-button:active {
  background-color: #199E49;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.chart-wrapper {
  background: #232323;
  border-radius: 4px;
  box-shadow: 0 0 40px #000000;
  display: none;
  height: 320px;
  padding: 20px 0 10px;
  width: 870px;
}

.chart-wrapper h1 {
  margin-left: 5%;
}

text {
  font-size: 12px;
  fill: #F0F0F0;
}


.axis path,
.axis line,
.gridline line {
  fill: none;
  stroke: #fff;
  opacity: 0.1;
  shape-rendering: crispEdges;
}

.lineDots {
  cursor: pointer;
  fill: #00ff59;
  fill-opacity: 0.5;
  stroke: #1DB954;
  stroke-opacity: 0.4;
  transition: all 0.2s ease-in-out;
  &:hover {
    fill-opacity: 1;
    stroke-width: 10px;
  }
}

.line{
  stroke: #1ed760;
  stroke-width: 2px;
  fill: none;
}

.lineDots2 {
  cursor: pointer;
  fill: #0099ff;
  fill-opacity: 0.5;
  stroke: #006eff;
  stroke-opacity: 0.4;
  transition: all 0.2s ease-in-out;
  &:hover {
    fill-opacity: 1;
    stroke-width: 10px;
  }
}

.line2{
  stroke: #276bff;
  stroke-width: 2px;
  fill: none;
}

path.domain {
  fill: none;
  opacity: 0.1;
}

div.tooltip {
  color: #4a4a4a;
  position: absolute;
  text-align: center;
  padding: 3px 6px;
  font-size: 12px;
  background: #fff;
  border-radius: 4px;
  pointer-events: none;
}

.tick text {
  font-size: 10px;
}

#update-button {
  position: relative;
  top: -35px;
  right: -71%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}
#update-button2 {
  position: relative;
  top: -35px;
  right: -70%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}

#update-button3 {
  position: relative;
  top: -35px;
  right: -72%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}

#update-button4 {
  position: relative;
  top: -35px;
  right: -73%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}

#update-button5 {
  position: relative;
  top: -35px;
  right: -69%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}

#update-button:hover , #update-button2:hover , #update-button3:hover , #update-button4:hover , #update-button5:hover{
  background-color: #585858;
}

#update-button.clicked , #update-button2.clicked , #update-button3.clicked , #update-button4.clicked , #update-button5.clicked{
  background-color: #1db954;
}
.text-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#text-box {
  background: #232323;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  display: none;
  padding: 10px;
  margin-left: 10%;
  height: 320px;
  width: 400px;
}

.chart-wrapper {
  background: #232323;
  border-radius: 4px;
  box-shadow: 0 0 40px #000000;
  display: none;
  height: 320px;
  padding: 20px 0 10px;
  width: 870px;
}