@import url('https://fonts.googleapis.com/css?family=Overpass');

* {
  font: normal 16px/1.5 "Overpass", sans-serif;
}

body {
  background-color: #191414;
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1DB954;
  padding: 20px;
}

h1 {
  margin: 0;
  font-size: 24px;
}

main {
  padding: 20px;
}

h2 {
  color: #FFFFFF;
}

footer {
  background-color: #1DB954;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.pButton{
  background-color: #00000073;
  color: #ffffff;
  border: none;
  padding: 10px 70px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.pButton:hover{
  background-color: #05050559;
}

.pButton:hover{
  background-color: #05050559;
}

#iframeContainer , #iframeContainer2 , #iframeContainer3 , #iframeContainer4 {
  margin-top: 50px;
  width: 100%;
  height: 352px;
  border-radius: 12px;
  overflow: hidden;
}

ul{
  margin-top: 25px;
  display: none;
  list-style: none; 
  justify-content: left;
  list-style-type: none;
  padding: 0;
}


.spotify-button {
  background-color: #1DB954;
  color: #ffffff;
  border: none;
  padding: 10px 60px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 24px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 20px;
}

.spotify-button:hover {
  background-color: #1ED760;
}

.spotify-button:active {
  background-color: #199E49;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.chart-wrapper {
  background: #232323;
  border-radius: 4px;
  box-shadow: 0 0 40px #000000;
  display: none;
  height: 320px;
  padding: 20px 0 10px;
  width: 870px;
}

.chart-wrapper h1 {
  margin-left: 5%;
}

text {
  font-size: 12px;
  fill: #F0F0F0;
}


.axis path,
.axis line,
.gridline line {
  fill: none;
  stroke: #fff;
  opacity: 0.1;
  shape-rendering: crispEdges;
}

.lineDots {
  cursor: pointer;
  fill: #00ff59;
  fill-opacity: 0.5;
  stroke: #1DB954;
  stroke-opacity: 0.4;
  transition: all 0.2s ease-in-out;
  &:hover {
    fill-opacity: 1;
    stroke-width: 10px;
  }
}

.line {
  stroke: #1ed760;
  stroke-width: 3px;
  fill: none;
}

path.domain {
  fill: none;
  opacity: 0.1;
}

div.tooltip {
  color: #4a4a4a;
  position: absolute;
  text-align: center;
  padding: 3px 6px;
  font-size: 12px;
  background: #fff;
  border-radius: 4px;
  pointer-events: none;
}

.tick text {
  font-size: 10px;
}
