@import url('https://fonts.googleapis.com/css?family=Overpass');

* {
  font: normal 16px/1.5 "Overpass", sans-serif;
}

body {
  background-color: #191414;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1DB954;
  padding: 20px;
}

#intro {
  margin-top: 2%;
  margin-bottom: 2%;
  background: #232323;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 0 40px #000000;
}

#intro h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
}

#intro h1 span {
  display: block;
  font-size: 28px;

}


h1 {
  margin: 0;
  font-size: 24px;
}

main {
  padding: 20px;
}

h2 {
  color: #FFFFFF;
}

footer {
  background-color: #1DB954;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.chart-wrapper h1 {
  margin-left: 5%;
}

text {
  font-size: 12px;
  fill: #F0F0F0;
}


.axis path,
.axis line,
.gridline line {
  fill: none;
  stroke: #fff;
  opacity: 0.1;
  shape-rendering: crispEdges;
}

.lineDots {
  cursor: pointer;
  fill: #00ff59;
  fill-opacity: 0.5;
  stroke: #1DB954;
  stroke-opacity: 0.4;
  transition: all 0.2s ease-in-out;
  &:hover {
    fill-opacity: 1;
    stroke-width: 20px;
  }
}

.line{
  stroke: #1ed760;
  stroke-width: 2px;
  fill: none;
}

.lineDots2 {
  cursor: pointer;
  fill: #0099ff;
  fill-opacity: 0.5;
  stroke: #006eff;
  stroke-opacity: 0.4;
  transition: all 0.2s ease-in-out;
  &:hover {
    fill-opacity: 1;
    stroke-width: 20px;
  }
}

.line2{
  stroke: #276bff;
  stroke-width: 2px;
  fill: none;
}

path.domain {
  fill: none;
  opacity: 0.1;
}

div.tooltip {
  color: #4a4a4a;
  position: absolute;
  text-align: center;
  padding: 3px 6px;
  font-size: 12px;
  background: #fff;
  border-radius: 4px;
  pointer-events: none;
}

.tick text {
  font-size: 10px;
}

#update-button {
  position: relative;
  top: -35px;
  right: -75%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}
#update-button2 {
  position: relative;
  top: -35px;
  right: -74%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}

#update-button3 {
  position: relative;
  top: -35px;
  right: -76%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}

#update-button4 {
  position: relative;
  top: -35px;
  right: -77%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}

#update-button5 {
  position: relative;
  top: -35px;
  right: -70%;
  background-color: #313131;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  color: #fff;
}

#update-button:hover , #update-button2:hover , #update-button3:hover , #update-button4:hover , #update-button5:hover{
  background-color: #585858;
}

#update-button.clicked , #update-button2.clicked , #update-button3.clicked , #update-button4.clicked , #update-button5.clicked{
  background-color: #1db954;
}
.text-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#text-box {
  background: #232323;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  display: none;
  padding: 10px;
  margin-left: 10%;
  height: 320px;
  width: 400px;
}

.chart-wrapper {
  background: #232323;
  border-radius: 4px;
  box-shadow: 0 0 40px #000000;
  display: none;
  height: 500px;
  padding: 20px 0 10px;
  width: 1200px;
}

.sec1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: #fff;
  margin-bottom: 150px;
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title{
  font-size: 4.5em;
  margin-bottom: 50px;
}

.content{
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .image {
  position: relative;
  overflow: hidden;
  width: 800px;
  height: 400px;
}

.content .image img {
  z-index: 111;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.content .text{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transform: translate(-80px, 50px);
}

.content .text h3{
  font-size: 2em;
  margin-bottom: 10px;
}

.section-title{
  font-size: 3em;
  margin-bottom: 80px;
}

.info-title{
  font-size: 1.8em;
  margin-bottom: 10px;
}

.info{
  width: 700px;
  margin-left: 50px;
}

.content .text2{
  z-index: 222;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  padding: 40px;
  max-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  transform: translate(-80px, 50px);
}

.content .text2 h3{
  font-size: 2em;
  margin-bottom: 10px;
}

.sec2{
  margin-bottom: 150px;
}

.genrepop , .genrerock {
  font-size: 4em;
  margin-bottom: 10px;
}